.main{
    width: 1000px;
    height: auto;
    margin: 0 auto 100px;
}
.mainbox{
    width: 1000px;
    height: 193px;
    margin: 0 auto;
}
.left{
    width: 403px;
    height: 169px;
    float: left;
    border-right: 1px solid red;
}
.right{
    width: 215px;
    height: 214px;
    margin-left: 140px;
    margin-top: -20px;
    float: left;
}
.left img{
    margin-top: 21px;
}
.left p{
    width: 288px;
    height: 32px;
    background: url(../img/five/ico_phone.png) no-repeat;
    margin-left: 3px;
    margin-bottom: 6px;
    font-size: 32px;
    color: #5e5e5e;
    text-indent: 45px;
}
.left span{
    display: block;
    width: 288px;
    height: 32px;
    background: url(../img/five/ico_mail.png) no-repeat;
    margin-left: 3px;
    font-size: 18px;
    color: #5e5e5e;
    text-indent: 45px;
}
.right{
    margin-right: 52px;
    font-size: 14px;
}
.right img{
    margin-top: 21px;
}
.right p{
    width: 162px;
    height: 20px;
    background: url(../img/five/ico_weixin.png) no-repeat;
    text-indent: 31px;
    line-height: 20px;
}