@font-face {
	font-family: 'iconfont';
	src: url('../iconfont/iconfont.eot');
	src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
	url('../iconfont/iconfont.woff') format('woff'),
	url('../iconfont/iconfont.ttf') format('truetype'),
	url('../iconfont/iconfont.svg#iconfont') format('svg');
}
/*广告栏开始*/
.ad{
	background: url("../img/cms_14985796157354_CIgHe.jpg") center;
	width: 100%;
	height: 120px;
}
/*头部开始*/
.header{
	width: 100%;
	height: 40px;
	background: #333;
}
.head{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
.head-left{
	width: 650px;
	height: 100%;
	float: left;
}
.head-left a span{
	padding: 0 6px;
	border-right: 1px solid #6A5239;
	line-height: 40px;
    font-size: 12px;
    color: #B0B0B0;
}
.head-left1{
	border-right: 0!important;
}
.head-right{
	width: 275px;
	height: 100%;
	float: right;
}
.head-right a span{
	border-right: 1px solid #6A5239;
	padding: 0 6px;
	line-height: 40px;
	font-size: 12px;
	color: #B0B0B0;
}
.head span:hover{
	color:#fff;
}
.ShoppingCart{
	width: 120px;
	float: right;
	background-image: url(../img/gwc1.png);
	position: relative;
	cursor: pointer;
}
.head-right .ShoppingCart a{
	line-height: 40px;
	font-size: 12px;
	color: #B0B0B0;
	text-align: center;
	margin-left: 45px;
}
.head-right .ShoppingCart:hover{
	background-image: url("../img/gwc2.png");
}
.head-right .ShoppingCart:hover .ShoppingCartbar{
	display: block;
}
.head-right .ShoppingCart .ShoppingCartbar{
	position: absolute;
	right: 0;
	right: -1px;
	top: 40px;
	z-index: 99999;
	width: 316px;
	padding: 15px 0 0;
	color: #424242;
	font-size: 12px;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-top: 0;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.15);
	box-shadow: 0 2px 10px rgba(0,0,0,0.15);
	display: none;
}
.head-right .ShoppingCart .ShoppingCartbar .loading{
	margin: 5px 20px 20px;
	text-align: center;
	padding: 20px 0;
	color: #424242;
	font-size: 12px;
}







.body{
	width: 1226px;
	margin:0 auto;
}
/*导航开始*/
nav{
	width: 100%;
	height: 100px;
	position: relative;
	z-index: 999;
}
.nav{
	width: 1226px;
	height: 100px;
	margin: 0 auto;
}
.nav-logo{
	width: 62px;
	float: left;
	padding-top:20px;
}
.nav-logo img{
	background: #ff6700;
}
.nav-pic{
	width: 165px;
	float: left;
	padding-top: 20px;
}
.nav-main{
	width: 700px;
	height: 100px;
	float: left;
}
.nav-main li{
	float: left;
	padding: 2px 10px 0;
	cursor: pointer;
}
.nav-main span{
	color: #333;
	font-size: 16px;
	line-height: 88px;
}
.nav-main li span:hover{
	color: #ff6700;
}
.nav-child{
	width: 100%;
	/*height: 228px;*/
	height: 0;
	background: #fff;
	position: absolute;
	left: 0;
	top:95px;
	overflow: hidden;
	z-index: 9999;
	/*display: none;*/
	transition: all 0.5s;
}
.nav-child .nav-child-inner{
	width: 1226px;
	margin: 0 auto;
}
.nav-child .nav-child-inner .navList{
	width: 200px;
	height: 220px;
	float: left;
}
.nav-child .nav-child-inner .nav-line{
	width: 100%;
	height: 1px;
	background: #E0E0E0;
	margin-top: 1px;
	margin-bottom: 1px;
}
.nav-child .nav-child-inner .navList .flags{
	width: 64px;
	height: 20px;
	border: 1px solid #FF6700;
	color: #FF6700;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	margin: 0 auto;
}
.nav-child .nav-child-inner .navList .navPic{
	width: 200px;
	height: 110px;
	padding-top: 15px;
	border-right: 1px solid #ccc;
}
.nav-child .nav-child-inner .navList6 .navPic{
	border-right: 0;
}
.nav-child .nav-child-inner .navList .navPic img{
	width: 160px;
	height: 110px;
	margin: 0 auto;
	cursor: pointer;
}
.nav-child .nav-child-inner .navList .navText{
	margin-top: 15px;
	text-align: center;
	line-height: 20px;
}
.nav-child .nav-child-inner .navList .navText a{
	color: #757575;
	font-size: 12px;
}
.nav-child .nav-child-inner .navList .navText p{
	font-size: 16px;
	color: #FF6700;
	font-size: 12px;
}






.nav-search{
	float: right;
	width: 297px;
	margin-top: 25px;
	position: relative;
}
.search-text{
	position: absolute;
	top: 14px;
	right: 62px;
}
.search-text a{
	padding: 0 5px;
	font-size: 12px;
	background: #eee;
	color: #757575;
}
.search-text a:hover{
	color: #fff;
	background: #ff6700;
}
.search1{
	width: 223px;
	height: 48px;
	padding: 0 10px;
	border: 1px solid #e0e0e0;
	float: left;
}
.search2{
	width: 52px;
	height: 50px;
	border: 1px solid #e0e0e0;
	border-left: 0;
	float: left;
	cursor: pointer;
	background-image: url("../img/search.png");
}
.search2:hover{
	background-image: url("../img/search1.png");
}
/*banner开始*/
.banner{
	width: 1226px;
	height: 460px;
	position: relative;
	z-index: 888;
}
.banner .banner-pic{
	width: 1226px;
	height: 460px;
}
.banner .banner-pic li{
	width: 1226px;
	height: 460px;
	position: absolute;
	top:0;
	left: 0;
	opacity: 0;
}
.banner .banner-pic li.active{
	z-index: 1;
	opacity: 1;
}
.banner .banner-pic li a{
	display: block;
	width: 1226px;
	height: 460px;
}
.banner .banner-pic li a img{
	width: 1226px;
	height: 460px;
}


.banner-left{
	width: 234px;
	height: 420px;
	background: rgba(0,0,0,0.6);
	padding: 20px 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}
.banner-left li{
	width: 184px;
	height: 42px;
	line-height: 42px;
	padding-left: 30px;
	padding-right: 20px;
}
.banner-left li .banner-child{
	width: 992px;
	/*display: none;*/
	position: absolute;
	left: 234px;
	top: 0;
	z-index: 24;
	height: 458px;
	border: 1px solid #e0e0e0;
	border-left: 0;
	background: #fff;
	-webkit-box-shadow: 0 8px 16px rgba(0,0,0,0.18);
	box-shadow: 0 8px 16px rgba(0,0,0,0.18);
	display: none;
}
.banner-left li .banner-child .banner-childone{
	width: 248px;
	height: 458px;
	margin: 0;
	padding: 2px 0;
	float: left;
}
.banner-left li .banner-child .banner-childli{
	position: relative;
	width: 265px;
	height: 76px;
}
.banner-left li .banner-child .banner-childli a{
	display: block;
	padding: 18px 20px;
	line-height: 40px;
	color: #333;
	transition: all .2s;
	line-height: 40px;
	color: #333;
}
.banner-left li .banner-child .banner-childli img{
	margin-right: 12px;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	float: left;
}
.banner-left li .banner-child .banner-childli span{
	font-size: 14px;
	cursor: pointer;
}
.banner-left li .banner-child .banner-childli span:hover{
	color: #ff6700;
}




.banner-left li a{
	color: #fff;
}
.banner-left li a .banner-name{
	font-size: 14px;
	float: left;
}
.banner-left li a .banner-next{
	float: right;
	font-size: 16px;
}
.banner-left li:hover{
	background: #ff6700;
}
.banner-left li:hover .banner-child{
	display: block;
}


.jiantou-left{
	width: 41px;
	height: 69px;
	position: absolute;
	left:234px;
	top:215px;
	background-image: url("../img/left.png");
	z-index: 666;
	cursor: pointer;
}
.jiantou-left:hover{
	background-image: url("../img/R.jpg");
}
.jiantou-right{
	width: 41px;
	height: 69px;
	position: absolute;
	right:0;
	top:215px;
	background-image: url("../img/right.png");
	z-index: 666;
	cursor: pointer;
}
.jiantou-right:hover{
	background-image: url("../img/U.jpg");
}
.lunbodian{
	width: 120px;
	height: 18px;
	position: absolute;
	right: 30px;
	bottom: 20px;
	z-index: 666;
}
.lunbodian li{
	width: 6px;
	height: 6px;
	margin: 0 5px;
	background: rgba(0,0,0,0.4);
	border: 2px solid rgba(255,255,255,0.3);
	border-radius: 10px;
	float: left;
	cursor: pointer;
	transition: all 0.5s;
}
.lunbodian li.active{
	background: rgba(255,255,255,0.4);
	border-color: rgba(0,0,0,0.4);
}
.lunbodian li:hover{
	background: rgba(255,255,255,0.4);
	border-color: rgba(0,0,0,0.4);
}
/*推荐开始*/
.recommend{
	width: 1226px;
	height: 170px;
	margin-top: 14px;
	margin-bottom: 26px;
}
.recommend-left{
	width: 234px;
	height: 170px;
	float: left;
	background-image: url("../img/tuijianback.png");
}
.recommend-left li{
	float: left;
	width: 74px;
	height: 81px;
	margin: 2px;
	text-align: center;
	opacity: 0.5;
}
.recommend-left li a img{
	display: block;
	width: 26px;
	height: 26px;
	margin-top: 20px;
	padding: 0 25px;
}
.recommend-left li a span{
	font-size: 12px;
	color: white;
}
.recommend-left li:hover{
	opacity: 1;
}
.recommend-right{
	width: 978px;
	height: 170px;
	margin-left: 14px;
	float: left;
}
.recommend-right li{
	width: 316px;
	height: 170px;
	float: left;
	margin-right: 15px;
	transition: all 0.8s;
}
#recommend1{
	margin-right: 0;
}
.recommend-right li:hover{
	box-shadow: 0 2px 15px 6px #ccc;
}
/*小米明星单品开始*/
.start-head{
	width: 1226px;
	height: 58px;
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	color: #333;
}
.start-head1{
	width: 73px;
	height: 22px;
	float: right;
	margin-top: 15px;
	background: #e0e0e0;
	border: 1px solid #e0e0e0;
}
.start-head1 a.start-bt1{
	margin-right: 1px;
}
.start-head1 a{
	display: block;
	float: left;
	width: 36px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	background: #fff;
	color: #B1B0B0;
}
.start-head1 .start-bt1{
	color: #E0E0E1;
}

.start{
	width: 1226px;
	height: 340px;
	margin-bottom: 40px;
	overflow: hidden;
}
.start .start-inner{
	width: 2480px;
	height: 340px;
	transition: all 1s;
}
.start li{
	width: 234px;
	height: 300px;
	padding-top: 39px;
	border-top-width: 1px;
	border-top-style: solid;
	background: #fafafa;
	float: left;
	margin-right: 14px;
}
.start1{
	border-top-color: #ffac13;
}
.start2{
	border-top-color: #83c44e;
}
.start3{
	border-top-color: #2196f3;
}
.start4{
	border-top-color: #e53935;
}
.start5{
	border-top-color: #00c0a5;
}
.start li a img{
	margin: 0 auto 22px;
}
.start-text1{
	color: #212121;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	margin-top: 13px;
}
.start-text2{
	height: 18px;
	margin: 4px 20px 12px;
	text-align: center;
	font-size: 12px;
	color: #b0b0b0;
}
.start-text3{
	font-size: 14px;
	text-align: center;
	color: #ff6709;
}

.orangeArrow:hover{
	color:rgb(252,80,9)!important;
}



.box{
	width: 100%;
	overflow: hidden;
	background: #f5f5f5;
	padding-top: 60px;
}
.box-body{
	width: 1226px;
	margin:0 auto;
}
/*家电开始*/
.smallbox{
	width: 1226px;
	height: 672px;
	margin-bottom: 22px;
}
.appliance-head{
	width: 1226px;
	height: 58px;
	line-height: 58px;
	position: relative;
}
.appliance-head span{
	font-size: 22px;
	font-weight: 200;
	color: #333;
}
.app-right{
	height: 42px;
	position: absolute;
	right: 0;
	top: 0;
}
.app-right a{
	margin: 0 12px;
	padding-bottom: 3px;
	color: #424242;
}
.app-right a.autofocus{
	border-bottom: 2px solid #ff6709;
	color: #ff6709;
}
/*.app-right a:hover{
	border-bottom: 2px solid #ff6709;
	color: #ff6709;
}*/
.appliance{
	width: 1226px;
	height: 614px;

}
.appliance-left{
	width: 234px;
	float: left;
	transition: all 0.5s;
}
.appliance-left:hover{
	transform: translateY(-1px);
	box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.1);
}
.appliance-right{
	width: 992px;
	height: 614px;
	float: left;
	position: relative;
}
.appliance-right .applianceOne{
	width: 992px;
	height: 614px;
	position: absolute;
	left: 0;
	top: 0;
}
.appliance .applianceOne.appli{
	opacity: 1;
	z-index: 1;
}
.appliance-right li{
	width: 234px;
	height: 245px;
	float: left;
	margin-left: 14px;
	margin-bottom: 14px;
	padding: 35px 0 20px;
	background: #fff;
	overflow:hidden;
	transition: all 0.5s;
}
.appliance-right li img{
	margin: 0 auto 18px;
}
.app-bottom{
	width: 174px;
	height: 59px;
	margin-top: 29px;
	padding: 8px 30px;
	background: #ff6709;
}
.appliance-right li:hover{
	transform: translateY(-1px);
	box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.1);
}
.appliance-right li:hover .app-bottom{
	animation: translate 0.5s linear;
	animation-fill-mode: forwards;
}
.app-bottom p:nth-child(1){
	margin-bottom: 5px;
	color: #fff;
	font-size: 12px;
}
.app-bottom p:nth-child(2){
	color: rgba(255,255,255,0.6);
	font-size: 12px;
}
.start-text4{
	text-decoration: line-through;
	color: #b0b0b0;
}

@keyframes translate {
	from{
		transform: translateY(0);
		-webkit-transform: translateY(0);
		opacity: 0;
	}
	to{
		transform: translateY(-75px);
		-webkit-transform: translateY(-75px);
		opacity:1;
	}
}
@-webkit-keyframes translate {
	from{
		transform: translateY(0);
		-webkit-transform: translateY(0);
		opacity: 0;
	}
	to{
		transform: translateY(-75px);
		-webkit-transform: translateY(-75px);
		opacity: 1;
	}
}

#appliance8,#appliance9{
	width: 234px;
	height: 95px;
	padding-top: 48px;
	padding-bottom: 0;
	position: relative;
}
#appliance8 img{
	position: absolute;
	right: 20px;
	top: 32px;
	width: 80px;
	height: 80px;
}
#appliance9 img{
	position: absolute;
	right: 20px;
	top: 32px;
	width: 80px;
	height: 80px;
}
#appliance8 h3{
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #333;
	font-size: 14px;
	font-weight: 400;
	margin: -10px 110px 5px 30px;
}
#appliance8 span{
	margin: 0 110px 0 30px;
	font-size: 12px;
	color: #ff6700;
}
#appliance9 a{
	display: block;
	margin: 0 110px 0 30px;
	font-size: 18px;
	color: #333;
}
#appliance9 p{
	font-size: 12px;
	color: #757575;
}
/*智能开始*/
.zhineng-left{
	width: 234px;
	height: 614px;
	float: left;
}
.zhineng-left li{
	margin-bottom: 14px;
	transition: all 0.5s;
}
.zhineng-left li:hover{
	transform: translateY(-1px);
	box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.1);
}
/*为你推荐开始*/
.foryou{
	width: 1226px;
	height: 320px;
	margin-bottom: 20px;
	overflow: hidden;
}
.foryou-inner{
	width: 4960px;
	height: 320px;
	transition: all 1s;
}
.foryou li{
	width: 234px;
	height: 280px;
	padding-top: 39px;
	background: #fff;
	float: left;
	margin-right: 14px;
	transition: all 0.5s;
}
.foryou li a img{
	margin: 0 auto 22px;
}
.foryou-text1{
	color: #333;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	margin-top: 13px;
}
.foryou-text2{
	height: 21px;
	text-align: center;
	font-size: 14px;
	margin-bottom: 10px;
	color: #ff6700;
}
.foryou-text3{
	font-size: 14px;
	text-align: center;
	color: #757575;
}
.foryou li:hover{
	transform: translateY(-1px);
	box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.1);
}
.foryoubtn a{
	background: #F5F5F5;
}
/*热评开始*/
.hotcom{
	width: 1226px;
	height: 415px;
	margin-bottom: 20px;
}
.hotcom li{
	width: 296px;
	height: 415px;
	margin-right: 14px;
	margin-bottom: 14px;
	float: left;
	background: #fff;
	transition: all 0.5s;
}
#hotcom4{
	margin-right: 0;
}
.hotcom li .hot1{
	color: #333;
	height: 72px;
	margin: 10px 28px 22px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	overflow: hidden;
}
.hotcom li .hot2{
	height: 18px;
	margin: 0 28px 8px;
	padding: 0 10px 0 0;
	font-size: 12px;
	color: #b0b0b0;
}
.hot-text{
	margin: 0 30px;
}
.hot-text a{
	font-size: 14px;
	font-weight: 400;
	color: #333;
	padding-right: 5px;
}
.hot-text span{
	color: #ff6700;
	font-size: 14px;
	padding: 0 6px;
	border-left: 1px solid #ccc;
}
.hotcom li:hover{
	transform: translateY(-1px);
	box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.1);
}
/*内容开始*/
.Content{
	width: 1226px;
	height: 420px;
	margin-bottom: 20px;
}
.Content li{
	width: 296px;
	height: 374px;
	border-top: 1px solid #ccc;
	float: left;
	background: #fff;
	margin-bottom: 14px;
	margin-right: 14px;
	padding: 45px 0 0;
	position: relative;
	transition: all 0.5s;
	overflow: hidden;
}
#Content1{
	border-top-color: #ffac13;
	color: #ffac13;
}
#Content2{
	border-top-color: #83c44e;
	color: #83c44e;
}
#Content3{
	border-top-color: #e53935;
	color: #e53935;
}
#Content4{
	margin-right: 0;
	border-top-color: #2196f3;
	color: #2196f3;
}
.Content h2{
	margin: 0 10px 18px;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}
.Content-middle-inner{
	width: 888px;
	height: 340px;
	transition: all 1s;
}
.Content-middle{
	width: 296px;
	height: 340px;
	text-align: center;
	float: left;
}
#Content1 .active{
	/*display: block;*/
}




.Content-middle h4{
	margin: 0 20px 5px;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.25;
}
.Content-p1{
	margin: 0 48px 10px;
	height: 40px;
}
.Content-p1 a{
	color: #b0b0b0;
	font-size: 12px;
	line-height: 20px;
}
.Content-p2{
	height: 21px;
	margin: 0 10px 15px;
	text-align: center;
}
.Content-p2 a{
	color: #333;
	font-size: 12px;
}
.ConMid{
	width: 216px;
	height: 154px;
	margin: 0 auto;
}
.Content-bottom{
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 296px;
	height: 30px;
	margin-left: 110px;
}
.Content-bottom a{
	display: block;
}
.Con-lunbo{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #b0b0b0;
	border: 2px solid #fff;
	margin: 0px 7px;
	float: left;
}
/*.Con-lunbo:hover{
	background: #ff6700;
}*/
.Con-lunbo1{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border: 2px solid #ff6700;
	background: #fff!important;
	float: left;
	margin: 0px 7px;
}

.Content-left{
	width: 20px;
	height: 48px;
	position: absolute;
	left: 0;
	top:50%;
	opacity: 0;
}
.Content-right{
	width: 20px;
	height: 48px;
	position: absolute;
	right: 0;
	top:50%;
	opacity: 0;
}
.Content li:hover .Content-left{
	opacity: 0.3;
}
.Content li:hover .Content-left:hover{
	opacity: 0.8;
}
.Content li:hover .Content-right{
	opacity: 0.3;
}
.Content li:hover .Content-right:hover{
	opacity: 0.8;
}
.Content li:hover{
	transform: translateY(-1px);
	box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.1);
}
/*视频开始*/
.Video-head{
	width: 1226px;
	height: 58px;
}
.Video-text1{
	margin: 0;
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	color: #333;
	float: left;
}
.Video-text2{
	width: 92px;
	height: 58px;
	float: right;
}
.Video-text2 a{
	font-size: 16px;
	line-height: 58px;
	color: #424242;
	float: left;
}
.Video-text2 .Video-more{
	width: 20px;
	height: 20px;
	margin-top: 20px;
	margin-left: 4px;
	background: url("../img/more1.png");
	float: left;
}
.Video-text2 a:hover{
	color: #ff6700;
}
.Video-text2 .Video-more:hover{
	background: url("../img/more2.png");
}
.Video{
	width: 1226px;
	height: 285px;
	margin-bottom: 60px;
}
.Video li{
	float: left;
	width: 296px;
	height: 285px;
	margin-left: 14px;
	margin-bottom: 14px;
	text-align: center;
	background: #fff;
	position: relative;
	transition: all 0.5s;
}
#Video1{
	margin-left: 0;
}
.Video-pic{
	width: 296px;
	height: 180px;
}
.Video-p1{
	margin-top: 25px;
	text-align: center;
	font-size: 14px;
	color: #333;
}

.Video1-1{
	font-size: 14px;
	color: #333;
}
.Video1-1:hover{
	color: #ff6700;
}
.Video-p2{
	height: 18px;
	margin-top: 10px;
	font-size: 12px;
	color: #b0b0b0;
}
.Video-play{
	width: 36px;
	height: 24px;
	border: 2px solid white;
	background:transparent;
	position: absolute;
	top: 146px;
	left: 25px;
	margin: auto;
	border-radius: 20px;
}
.Video-button{
	width: 9px;
	height: 11px;
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}
.Video li a:hover .Video-play{
	background: #ff6700;
	border: 0;
}
.Video li:hover{
	transform: translateY(-1px);
	box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.1);
}
/*底部开始*/
.foot-top{
	width: 100%;
	height: 272px;
	background: white;
}
.foot-top1{
	width: 1226px;
	height: 80px;
	background: #fff;
	margin: 0 auto;
	line-height: 80px;
	border-bottom: 1px solid #E0E0E0;
}
.iconfont{
	color: #616161;
	margin-right: 6px;
	font-size: 24px;
	line-height: 24px;
	font-family:"iconfont" !important;
	font-style:normal;
}
.foot-toptext{
	font-size:16px;
	text-align: center;
	padding: 0 50px;
	border-right: 1px solid #E0E0E0;
}
.foot-toptext1{
	border-right:0;
}
.foot-top1 a:hover{
	color: #ff6700;
}
.foot-top1 a:hover i{
	color: #ff6700;
}
.foot-top1 .foot-toptext1{
	padding: 0 0 0 70px;
}
.foot-top2{
	width: 1226px;
	height: 112px;
	background: #fff;
	margin: 0 auto;
	padding: 40px 0;
}
.foot-top2 dl{
	width: 56px;
	height: 111px;
	background: #fff;
	float: left;
	margin-right: 104px;
}
.foot-top2 dt{
	margin: 0 0 26px;
	font-size: 14px;
	line-height: 1.25;
	color: #424242;
	font-size: 14px;
}
.foot-top2 dd{
	margin: 10px 0 0;
	font-size: 12px;
}
.foot-top2 dd a{
	color: #757575;
}
.foot-top2 dd a:hover{
	color: #ff6700;
}
.foot-top2right{
	float: right;
	width: 251px;
	height: 112px;
	border-left: 1px solid #e0e0e0;
	text-align: center;
	color: #616161;
}
.foot-right11{
	margin: 0 0 10px;
	font-size: 22px;
	line-height: 1;
	color: #ff6700;
}
.foot-right12{
	margin: 0 0 25px;
	font-size: 12px;
	text-align: center;
	color: #616161;
}
.foot-top2right a{
	border: 1px solid #ff6700;
	padding: 10px 10px;
	background: #fff;
	color: #ff6700;
	font-size: 12px;
	line-height: 28px;
}
.foot-top2right a i{
	color: #ff6700;
	font-size: 12px;
	margin-right: -1px;
}
.foot-top2right a:hover{
	color: #fff;
	background: #ff6700;
}
.foot-top2right a:hover i{
	color: #fff;
}
.foot-top2text1{
	width: 975px;
	height: 111px;
	background: #fff;
	border-right: 1px solid #E0E0E0;
	float: left;
	margin-top: 42px;
}
.foot-top2text11{
	width: 56px;
	height: 111px;
	background: #fff;
	float: left;
	margin-right: 104px;
	transition: all .8s ease;
}
.top2text11{
	margin-right: 0px;
}
.foot-top2text111{
	font-size: 14px;
	margin-bottom: 22px;
}
.foot-top2text112{
	font-size: 12px;
	margin-bottom: 14px;
}
.foot-top2text11 a:hover{
	color:#ff6700 ;
}
.foot-top2text2{
	width: 137px;
	height: 107px;
	background: #fff;
	float: left;
	margin-left: 56px;
	margin-top: 42px;
}
.foot-top2text21{
	color: #ff6700;
	font-size: 20px;
	margin-bottom: 12px;
	text-align: center;
}
.foot-top2text22{
	font-size: 12px;
	text-align: center;
}
.foot-top2text23{
	width: 120px;
	height: 30px;
	border: 1px solid #ff6700;
	font-size: 12px;
	color: #ff6700;
	line-height: 30px;
	text-align: center;
	margin-top: 10px;
	margin-left: 9px;
}
.foot-top2text23:hover{
	color: #fff;
	background: #ff6700;
}
.foot-bottom{
	width: 100%;
	background: #fafafa;
	float: left;
}
.foot-bottom1{
	width: 1226px;
	height: 80px;
	margin: 30px auto 0;
	background: #fafafa;
	position: relative;
}
.foot-logo{
	float: left;
}
.foot-bottom-youqing{
	width: 856px;
	margin-top: 4px;
	font-size: 12px;
	float: left;
	margin-left: 12px;
}
.foot-bottom-youqing a{
	padding: 0 2px;
	border-right: 1px solid #bacce5;
	color: #757575;
}
.foot-bottom1 .foot-bottom-youqing1{
	border-right: 0px solid #BACCE5;
}
.foot-bottom-youqing a:hover{
	color:  #ff6700;
}
.foot-bottom-youqing2{
	color: #b0b0b0;
	width: 666px;
	margin-top: 2px;
	font-size: 12px;
	float: left;
	margin-left: 12px;
}
.foot-bottom-youqing2 a{
	color: #b0b0b0;
}
.foot-bottom-youqing2 a:hover{
	color:  #ff6700;
}
.foot-bottom-pic{
	width: 380px;
	height: 35px;
	position: absolute;
	top: 0;
	right: 0;
}
.foot-bottom-pic img{
	margin-left: 7px;
	float: left;
}
.bottom-biaoyu{
	margin: 0 auto 30px;
	width: 267px;
	height: 19px;
	background: url(../img/slogan2016.png) no-repeat center 0;
}

