*{
    margin: 0;padding: 0;
    list-style: none;
}
.header{
    width: 800px;
    height: 40px;
    margin: 0 auto;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    color: #333;
}
.main{
    width: 800px;
    height: 580px;
    border: 1px solid #bbbbbb;
    margin: 30px auto;
    background: url("../img/timg.jpg");
    background-size: cover;
}
.top{
    width: 800px;
    height: 60px;
    padding: 10px;
    line-height: 60px;
}
.top .city{
    width: 80px;
    font-size: 20px;
    color: #fff;
    float: left;
}
.top .date,.week{
    width: 100px;
    color: #fff;
    float: left;
}
.top p{
    float: left;
    color: #fff;
}
.top .zhiliang{
    margin: 17px 8px;
    width: 100px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    float: left;
    color: #fff;
    text-shadow: #333333 2px 2px 2px;
}
img{
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
}
#provinces{
    width: 80px;
    height: 25px;
    outline: none;
    background: transparent;
    border-radius: 8px;
}
#citys{
    width: 80px;
    height: 25px;
    outline: none;
    background: transparent;
    border-radius: 8px;
}
.box{
    width: 800px;
    height: 300px;
    /*display: none;*/
}
.box ul{
    width: 120px;
    height: 280px;
    border-right: 1px solid #f2f2f2;
    text-align: center;
}
.box ul:last-child{
    border-right: 0;
}
/*今天*/
.box ul.today{
    width: 800px;
    height: 200px;
    border-bottom: 1px solid #fff;
}
.box ul.today #img{
    width: 150px;
    height: 150px;
    display: block;
    padding: 10px 10px 10px 20px;
    float: left;
}
.box ul.today .topleft{
    width: 200px;
    height: 200px;
    float: left;
}
.box ul.today .topleft li{
    width: 200px;
    height: auto;
}
.box ul.today .temp{
    font-size: 60px;
    height:50px;
}
.box ul.today .temp:after{
    content: "[实时]";
    font-size: 20px;
    color: #efefef;
}
.box ul.today .temparr{
    font-size: 20px;
    height:30px;
}
.box ul.today .weather{
    font-size: 20px;
    height:40px;
}
.box ul.today .wind{
    font-size: 20px;
    height:40px;
}
/*头部右边*/
.topright{
    width: 300px;
    height: 190px;
    background: rgba(0,0,0,0.4);
    float: left;
    border-radius: 10px;
    margin-left: 50px;
}
.topright .right{
    width: 300px!important;
    display: flex;
    justify-content: space-around;
}
.topright .right .todayday{
    width: 149px;
    height: 190px;
    padding-top: 5px;
    float: left;
    border-right: 1px solid #fff;
    font-size: 14px;
    margin: 0;
}
.topright .right .todaynight{
    width: 150px;
    height: 190px;
    padding-top: 5px;
    float: left;
    font-size: 14px;
    margin: 0;
}
.topright .right li img{
    display: block;
    width: 80px!important;
    height: 80px!important;
    padding: 10px 0;
}
/*五天*/
.box ul.weekly{
    padding-top: 20px;
    width: 158px;
    float: left;
}
.box li{
    width: 120px;
    height: 20px;
    float: left;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 5px;
    color: #fff;
}




