@font-face {
    font-family: 'iconfont';
    src: url('iconfont/iconfont.eot');
    src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
    url('iconfont/iconfont.woff') format('woff'),
    url('iconfont/iconfont.ttf') format('truetype'),
    url('iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
body{
    margin: 0;
    padding: 0;
    background: url("img/BackGround.jpg") no-repeat;
    background-size: 1400px 880px;
    background-position: -30px -165px;
}
.scene{
    width: 500px;
    height: 500px;
    border: 2px solid #fff;
    box-shadow: 2px 2px 2px 2px #666;
    /*background: url("img/back9.jpg");*/
    /*background-size: 700px 550px;*/
    background: rgba(0,0,0,0.4);
    margin: 0 auto;
}
.block{
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    /*border: 1px solid #ccc;*/
    /*border-radius: 50%;*/
    float: left;
}
.snakebody{
    width: 25px;
    height: 25px;
    /*background: #ffc208;*/
    background: url("img/body.png");
    border-radius: 50%;
    background-size: 25px 25px;
}
.snakehead{
    width: 25px;
    height: 25px;
    /*background: #ff4c4a;*/
    background: url("img/head.png");
    border-radius: 65%;
    background-size: 25px 25px;
}
.food{
    background: url("img/caomei.png");
    background-size: 25px 25px;
    border-radius: 70%;
}

/*游戏结束弹出框*/
.alert{
    width: 200px;
    height: 100px;
    border: 1px solid #6ccccb;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #666666;
    /*background: #7AC367;*/
    background: #CACDD2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 20px 20px;
    display: none;
    color: #333;
}
.alert #submit{
    float: right;
    cursor: pointer;
}
/*按钮开始*/
.list{
    width: 500px;
    height: 100px;
    background: #beccff;
    border: 1px solid #6ccccb;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #666666;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.show div{
    float: left;
}
#start,#pause{
    cursor: pointer;
}

