@font-face {
    font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot');
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../iconfont/iconfont.woff') format('woff'),
    url('../iconfont/iconfont.ttf') format('truetype'),
    url('../iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
body{
    font-family: "微软雅黑";
}
/*头部开始*/
header{
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #e5e5e5;
    background: #f2f2f2;
}
.head{
    width: 1260px;
    height: 32px;
    padding-right: 30px;
    margin: 0 auto;
}
.head-left{
    width: 218px;
    height: 32px;
    color: #999;
    font-size: 12px;
    line-height: 32px;
    float: left;
}
.head-left a{
    color: #999;
    padding-left: 20px;
}
.head-left a:hover{
    color: #FF0036;
}


.head-right{
    height: 32px;
    float: right;
    position: relative;
    z-index: 99;
}
.head-right li{
    height: 32px;
    float: left;
    line-height: 32px;
}


.head-right .head-li{
    position: relative;
    z-index: 1;
}
.head-right li .head1{
    width:76px;
    height: 32px;
    padding: 0 5px;
    position: relative;
    z-index: 66;
}
.head-right .head-li:hover .head1{
    background: #fff;
    border: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}
.head-right .head-li:hover .head-right-xia{
    display: block;
}
.head-li .head-right-xia{
    width: 96px;
    height: 58px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -57px;
    border: 1px solid #e5e5e5;
    z-index: 1;
    display: none;
}
.head-right .head-right-xia p{
    font-size: 12px;
    color: #666;
    background: #fff;
    line-height: 26px;
    padding-left: 10px;
    cursor: pointer;
}
.head-right .head-right-xia p:hover{
    text-decoration: underline;
    color: #FF0036;
}


.head-right1 .head1{
    width: 64px!important;
}
.head-right1 .head-right-xia{
    width: 84px;
}
.head-right .headxian{
    float: left;
}
.head-right .headxian span{
    color: #ccc;
    font-size: 10px;
}

.head-right .erweimaApp{
    position: relative;
}
.head-right .erweimaApp:hover .erweima{
    display: block;
}
.head-right .erweima{
    width: 176px;
    height: 229px;
    position: absolute;
    bottom: -229px;
    left: -44px;
    background: #fff;
    box-shadow: 0 0 5px #aaa;
    display: none;
}
.head-right .erweima .erweima3jiao{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    top:-10px;
}
.head-right .erweima .erweimaTop{
    height: 180px;
    background: url("../img/ewmAPP.png") 0 0 no-repeat;
}
.head-right .erweima .erweimaBottom{
    height: 180px;
    background: url("../img/ewmAPP.png") 15px -180px no-repeat;
}


.head-right2{
    position: relative;
}
.head-right .head-right2 .head-right-xia1{
    width: 144px;
    height: 176px;
    background: #fff;
    position: absolute;
    right: 0!important;
    bottom: -175px;
    border: 1px solid #e5e5e5;
    display: none;
}
.head-right .head-li:hover .head-right-xia1{
    display: block;
}
.head-right .head-right2 .head-right-xia1 .shangjia{
    width: 122px;
    font-size: 10px;
    border-bottom: 1px dashed #ccc;
    line-height: 14px;
    margin: 0 auto;
    overflow: hidden;
}
.head-right .head-right2 .head-right-xia1 h3{
    font-size: 12px;
    color: #666;
    padding-left: 15px;
}
.head-right .head-right2 .head-right-xia1 .shangjia div{
    width: 50%;
    height: 20px;
    float: left;
    text-align: center;
    color: #666;
    cursor: pointer;
}
.head-right .head-right2 .head-right-xia1 .shangjia div:hover{
    text-decoration: underline;
    color: #FF0036;
}


.head-right3{
    position: relative;
}
.head-right3 .head1{
    width: 92px!important;
}
.head-right .head-right3 .head-right-xia2{
    width: 1200px;
    height: 252px;
    background: #fff;
    position: absolute;
    right: 0!important;
    bottom: -251px;
    border: 1px solid #e5e5e5;
    display: none;
}
.head-right .head-li:hover .head-right-xia2{
    display: block;
}
.head-right .head-right3 .head-right-xia2 .headXia{
    width: 306px;
    height: 200px;
    font-size: 10px;
    line-height: 14px;
    margin: 20px auto 0;
    overflow: hidden;
    float: left;
    border-right: 1px dashed #ccc;
}
.head-right .head-right3 .head-right-xia2 .headXia2{
    width: 405px;
}
.head-right .head-right3 .head-right-xia2 .headXia2 h3{
    color: #2263D4;
}
.head-right .head-right3 .head-right-xia2 .headXia3 h3{
    color: #000;
}
.head-right .head-right3 .head-right-xia2 .headXia4 h3{
    color: #808080;
}
.head-right .head-right3 .head-right-xia2 .headXia2 .headXiaText2 div{
    width: 25%;
}
.head-right .head-right3 .head-right-xia2 .headXia4{
    width: 180px;
    border-right: 0;
}
.head-right .head-right3 .head-right-xia2 .headXia4 .headXiaText4 div{
    width: 100%;
}
.head-right .head-right3 .head-right-xia2 h3{
    font-size: 16px;
    color: #F56A00;
    padding: 5px 0 5px 25px;
}
.head-right .head-right3 .head-right-xia2 .headXiaText div{
    width: 33%;
    float: left;
    line-height: 35px;
    text-align: left;
    padding-left: 25px;
    color: #666;
    cursor: pointer;
}
.head-right .head-right3 .head-right-xia2 .headXiaText div:hover{
    text-decoration: underline;
}
.head-right .head-right3 .head-right-xia2 .headXia1 .headXiaText div:hover{
    color: #F56A00;
}
.head-right .head-right3 .head-right-xia2 .headXia2 .headXiaText div:hover{
    color: #2263D4;
}
.head-right .head-right3 .head-right-xia2 .headXia3 .headXiaText div:hover{
    color: #000;
}
.head-right .head-right3 .head-right-xia2 .headXia4 .headXiaText div:hover{
    color: #808080;
}





.head-right li.head-li:hover{
    background: #fff;
    color: #FF0036;
}
.head-right li.head-li:hover .head-right-xia>p{
    display: block;
}
.head-right li a{
    display: block;
    float: left;
    color: #999;
    font-size: 12px;
    padding: 0 10px;
}

.head-right li p{
    float: left;
}
.head-right li .jiantou{
    color: #999;
    float: left;
    font-size: 10px;
    transition: all 1s;
}
.head-right li:hover a p{
    color: #FF0036;
}
.head-right li:hover a .p1{
    text-decoration: underline;
}
.head-right li:hover .jiantou{
    transform: rotate(180deg);
}
.head-right li a .tubiao{
    color: #FF0036;
    font-size: 12px;
    float: left;
    padding-right: 4px;
}

/*搜索框开始*/
.search{
    width: 1260px;
    margin: 0 auto;
}
.search:after{
    content: "";
    display: block;
    clear: both;
}
.logo{
    width: 240px;
    height: 130px;
    background-image: url("../img/logo.gif");
    background-size: 290px 130px;
    float: left;
    margin-left: -45px;
}
.searchbox{
    width: 625px;
    height: 100px;
    padding-top: 38px;
    float: left;
    margin-left: 80px;
}
.searchbox .search1{
    width: 491px;
    height: 40px;
    border: 2px solid #FF0036;
    padding: 5px;
    float: left;
}
.searchbox .search2{
    width: 132px;
    height: 40px;
    background: #FF0036;
    border: 2px solid #FF0036;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    cursor: pointer;
    float: left;
}
.searchbox .search-text{
    float: left;
    padding-top: 6px;
}
.searchbox .search-text li{
    float: left;
}
.searchbox .search-text li a{
    padding: 0 12px;
    color: #999;
    font-size: 14px;
}
.searchbox .search-text li span{
    color: #ccc;
    font-size: 12px;
}
.searchbox .search-text .search-text1 a{
    padding-left: 0;
    color: #FF0036;
}
.searchbox .search-text .search-text2 a{
    color: #FF0036;
}
/*导航栏开始*/
nav{
    width: 100%;
    height: 36px;
    background: #FF0036;
}
.nav-main{
    width: 1260px;
    margin: 0 auto;
    height: 36px;
    padding-right: 30px;
    line-height: 36px;
}
.nav-left{
    width: 200px;
    background: #E22127;
    height: 36px;
    padding-left: 14px;
    color: #fff;
    float: left;
}
.nav-left span{
    font-weight: 700;
    padding-left: 5px;
}
.nav-right{
    float: left;
    margin-left: 14px;
}
.nav-right a{
    display: block;
    padding: 0 15px;
    font-weight: 500;
    float: left;
    position: relative;
}
.nav-right a img{
    width: 90px;
    height: 36px;
}
.nav-right a span{
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    color: #fff;
}
.nav-right a .hov-pic{
    width: 40px;
    height: 15px;
    background-image: url("../img/3.png");
    background-size: 40px 15px;
    position: absolute;
    left: 50%;
    top:0;
    margin-left: -20px;
    z-index: -1;
    transition: transform 0.5s;
}
.nav-right a:hover .hov-pic{
    transform: translateY(-15px);
}
/*banner开始*/
.bannerBOX{
    width: 100%;
    height: 500px;
    background: #2191EF;
    position: relative;
    z-index: 66;
}
.banner-box{
    width: 1260px;
    padding-right: 30px;
    height: 500px;
    margin: 0 auto;
}
.banner{
    padding-right: 30px;
    width: 1230px;
    margin: 0 auto;
    height: 500px;
    position: relative;
}
.banner .bannerPicBox{
    width: 1230px;
    height: 500px;
}
.banner .bannerPicBox .bannerPic{
    width: 1230px;
    height: 500px;
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    transition: all 0.8s;
}
.banner .bannerPicBox .bannerPic.active{
    opacity: 1;
    z-index: 1;
}
.banner .bannerPicBox .bannerPic a{
    display: block;
    width: 1230px;
    height: 500px;
}
.banner-left{
    width: 200px;
    height: 500px;
    background-color: rgba(238,238,238,.95);
    position: absolute;
    top:0;
    left:0;
    z-index: 888;
}
.banner-left .bannerone{
    height: 31.2px;
    line-height: 31.2px;
    color: #000;
    font-size: 14px;
}
.banner-left .bannerone i{
    margin-left: 14px;
    margin-right: 4px;
    font-size: 16px;
    color: #757677;
}
.banner-left .bannerone a{
    font-size: 14px;
    color: #000;
}
.banner-left .bannerone .bannerMask{
    width: 852px;
    height: 500px;
    background: #FAFAFA;
    position: absolute;
    top:0;
    left: 200px;
    z-index: 1;
    display: none;
}
.banner-left .bannerone .bannerMask .bannerMaskLeft{
    width: 642px;
    height: 500px;
    background: #fff;
    float: left;
    padding-top: 24px;
}
.banner-left .bannerone .bannerMask .bannerMaskLeft li{
    width: 584px;
    height: auto;
    padding-left: 30px;
}
.banner-left .bannerMask .bannerMaskLeft .Mask1{
    width: 90px;
    height: 40px;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    float: left;
    padding-top: 4px;
}
.banner-left .bannerMask .bannerMaskLeft .Mask2{
    width: 460px;
    padding: 4px 0 10px 0;
    float: left;
    border-bottom: 1px dashed #ccc;
}
.banner-left .bannerMask .bannerMaskLeft .Mask2 a:nth-child(3n+1){
    color:#E54077;
}
.banner-left .bannerone .bannerMask .bannerMaskRight{
    width: 186px;
    height: 390px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.banner-left .bannerone .bannerMask .bannerMaskRight li{
    width: 92px;
    height: 46px;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
    background: #fff;
}
.banner-left .bannerone .bannerMask .bannerMaskRight li img{
    width: 92px;
    height: 46px;
}
.banner-left li:nth-child(3n+1):hover{
    background: #fff;
    color:#E54077;
}
.banner-left li:nth-child(3n+1):hover .bannerzi{
    color:#E54077;
}
.banner-left li:nth-child(3n+1):hover i{
    color:#E54077;
}
.banner-left li:nth-child(3n+2):hover{
    background: #fff;
    color:#427DEF;
}
.banner-left li:nth-child(3n+2):hover .bannerzi{
    color:#427DEF;
}
.banner-left li:nth-child(3n+2):hover i{
    color:#427DEF;
}
.banner-left li:nth-child(3n+3):hover{
    background: #fff;
    color:#FA5C5C;
}
.banner-left li:nth-child(3n+3):hover .bannerzi{
    color:#FA5C5C;
}
.banner-left li:nth-child(3n+3):hover i{
    color:#FA5C5C;
}
.banner-right{
    position: absolute;
    top:0;
    right: 40px;
    width: 220px;
    z-index: 666;
}
.banner-right li{
    width: 220px;
    height: 235px;
    margin-top: 10px;
    background-color: rgba(255,255,255,0.7);
}
.banner-right li a{
    display: block;
}
.banner-right li img{
    width: 220px;
    height: 235px;
}
.banner-right li:hover{
    background-color: rgba(255,255,255,1);
}
.banner .lunbodian{
    width: 200px;
    height: 20px;
    position: absolute;
    left: 535px;
    bottom: 20px;
    margin-left: -10px;
    z-index: 666;
}
.banner .lunbodian li{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: rgba(0,0,0,0.4);
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
.banner .lunbodian li.active{
    border: 2px solid rgba(0,0,0,0.4);
    background: rgba(255,255,255,0.5);
}
/*.banner .lunbodian li:hover{
    border: 2px solid rgba(0,0,0,0.4);
    background: rgba(255,255,255,0.5);
}*/

.contant{
    background: #F5F5F5;
    width: 100%;
    overflow: hidden;
}
.contant-box{
    width: 1260px;
    margin: 0 auto;
    padding-right: 30px;
}
/*直播开始*/
.zhibo{
    margin: 60px auto 0;
    width: 1230px;
    height: 436px;
}
.zhibo-left{
    width: 488px;
    height: 436px;
    float: left;
    background: #050505;
}
.zhibo-left-top{
    width: 488px;
    height: 275px;
    position: relative;
}
.zhibo-left-top .zhiboPic{
    position: absolute;
    top:0;
    left: 0;
}
.zhibo-left-top img{
    display: block;
    width: 488px;
    height: 275px;
}
.zhibo-left-top .mao{
    width: 70px;
    height: 57.36px;
    position: absolute;
    top:0;bottom:0;left:0;right:0;margin:auto;
}
.zhibo-left-top:hover .mao{
    animation: scale 0.2s;
}
.zhibo-left-top .zhibologo{
    position: absolute;
    top: 15px;
    right: 16px;
    width:61px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6);
    line-height: 18px;
}
.zhibo-left-top .zhibologo .hongdian{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FE4672;
    margin: 7px 2px 0 8px;
    float: left;
}
.zhibo-left-top .zhibozhong{
    line-height: 19px;
    font-size: 12px;
    color: #fff;
}
.zhibo-left-top .zhiboTopMask .zhiboLeftText1{
    width: 100%;
    color: #fff;
    font-size: 24px;
    text-align: center;
    position: absolute;
    bottom: 47px;
    left: 0;
}
.zhibo-left-top .zhiboTopMask .zhiboLeftText2{
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 20px;
    left: 0;
}
.zhibo-left-top .zhiboTopMask .zhiboLeftText2 .biao{
    float: left;
    width: 13px;
    height: 13px;
    margin-left: 167px;
    margin-top: 5px;
}
.zhibo-left-top .zhiboTopMask .zhiboLeftText2 .zhibozi{
    margin-left: 8px;
    color: #fff;
    font-size: 16px;
}
.zhibo-left-top .zhiboTopMask .zhiboLeftText2 span{
    color: #fff;
    font-size: 16px;
}
.zhibo-left-top #zhiboPic1{
    z-index: 1;
}
.zhibo-left-middle{
    width: 488px;
    height: 90px;
    margin-top: 9px;
    position: relative;
    overflow: hidden;
}
.zhibo-left-middle .zhiboLM-inner{
    width: 984px;
    height: 90px;
    transition: all 0.4s;
}
.zhibo-left-middle .zhiboPic4{
    width: 160px;
    height: 90px;
    overflow: hidden;
    float: left;
    margin-right: 4px;
    cursor: pointer;
    position: relative;
}
.zhibo-left-middle img{
    width: 160px;
    height: 90px;
}
.zhibo-left-middle .zhiboWenzi{
    position: absolute;
    left: 14px;
    bottom: 10px;
    color: #fff;
    font-size: 12px;
}
.zhiboPic4 .zhiboMask{
    width: 160px;
    height: 90px;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.3);
    display: none;
    animation: scale 0.2s;
}
.zhiboPic4 .zhiboMask4{
    display: block;
}
.zhiboPic4 .zhiboMask img{
    position: absolute;
    top:0;bottom:0;left:0;right:0;margin:auto;
    width: 36px;
    height: 29.5px;
}
@keyframes scale {
    0%{
        transform: scale(0);
    }
    75%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}
.zhibo-left-middle .zhiboLM-left{
    width: 17px;
    height: 90px;
    font-size: 18px;
    color: #DBDCDC;
    font-weight: 700;
    line-height: 90px;
    text-align: center;
    background: #636566;
    position: absolute;
    left: 0;
    top:0;
    cursor: pointer;
    display: none;
}
.zhibo-left-middle .zhiboLM-right{
    width: 17px;
    height: 90px;
    font-size: 18px;
    color: #DBDCDC;
    font-weight: 700;
    line-height: 90px;
    text-align: center;
    background: #636566;
    position: absolute;
    right: 0;
    top:0;
    cursor: pointer;

}

.zhibo-left-bottom{
    width: 488px;
    padding: 14px 0 0 22px;
}
.zhibo-left-bottom .zhibobot-pic{
    width: 81px;
    height: 31px;
    float: left;
}
.zhibobot-pic img{
    width: 81px;
    height: 31px;
}
.zhibo-left-bottom .zhibobot-text{
    width: 300px;
    height: 40px;
    float: left;
    overflow: hidden;
}
.zhibo-left-bottom .zhibobot-text .zhibo-text-inner{
    width: 300px;
    height: 160px;
    transition: all 0.6s;
}
.zhibo-left-bottom .zhibobot-text ul li{
    width: 300px;
    height: 40px;
    margin-left: 5px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}
.zhibo-right{
    margin-right: -1px;
    width: 732px;
    height: 436px;
    float: right;
}
.zhibo-right ul{
    overflow: hidden;
}
.zhibo-right ul li{
    width: 120px;
    height: 108px;
    margin-right: 1px;
    margin-bottom: 1px;
    float: left;
    background: #fff;
    position: relative;
}
.zhibo-right ul li img{
    width: 99px;
    height: 50px;
    margin: 25px auto 0;
}
.yincang{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    transition: all 0.8s;
}
.yincang i{
    font-size: 14px;
    color: rgba(255,255,255,0.8);
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}
.yincang p{
    width: 65px;
    height: 20px;
    color: #fff;
    font-size: 12px;
    margin: 35px auto 0;
}
.yincang .dianji{
    margin: 5px auto 0;
    color: #fff;
    width: 63px;
    height: 18px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    background-color: red;
    border-radius: 9px;
    cursor: pointer;
}
/*.zhibo-right li:hover .yincang{
    opacity: 1;
}*/
.zhibo-right .huanyipi{
    text-align: center;
    color: #999;
    cursor: pointer;
}
.zhibo-right .huanyipi .huan{
    margin: 34px auto 0;
    width: 30px;
    height: 30px;
}
.zhibo-right .huanyipi i{
    font-size: 25px;
}
.zhibo-right .huanyipi span{
    font-size: 14px;
}
.zhibo-right .huanyipi:hover{
    color: #fff;
    background: #E2232D;
}
.zhibo-right .huanyipi:hover .huan{
    animation: rotate 0.8s forwards;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/*潮流前沿开始*/
.fashion{
    margin: 60px auto 0;
    width: 1230px;
    height: 477px;
    overflow:hidden ;
}
.fashion ul li{
    width: 238px;
    height: 477px;
    background: #fff;
    margin-right: 10px;
    float: left;
}
.fashion .fashion5{
    margin-right: 0;
}
.fashion ul li .fashion-title{
    width: 238px;
    height: 36px;
    background: #FF0036;
    color: #fff;
    text-align: center;
    line-height: 36px;
}
.fashion-title .iconfont{
    font-size: 22px;
    font-weight: 600;
}
.fashion-title span{
    font-weight: 700;
    font-size: 18px;
}
.fashion .fashion1{
    display: block;
    width: 238px;
    height: 220px;
    background: #fff;
    position: relative;
    overflow: hidden;
}
.fashion .fashion1 .fashion-text1{
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: #000;
    padding-top: 12px;
}
.fashion .fashion1 .fashion-text2{
    width: 100%;
    text-align: center;
    margin-top: 5px;
    color: #888;
    font-size: 14px;
}
.fashion .fashion-fenge{
    height: 1px;
    width: 200px;
    background-color: #EEE;
    margin: 0 auto;
}
.fashionBox{
    width: 140px;
    height: 140px;
    margin: 9px auto 0;
    position: relative;
}
.fashionBox .fashion-box{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: rgba(0,0,0,0.03);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.fashionBox .fashion-pic{
    width: 140px;
    height: 140px;
    z-index: 1;
}
.fashion1:hover .fashion-pic{
    animation: scale 0.5s forwards;
}
@keyframes scale {
    0%{
        transform: scale(1,1);
    }
    100%{
        transform: scale(1.1,1.1);
    }
}
/*广告条开始*/
.ad{
    width: 1230px;
    height: 90px;
    margin-top: 10px;
    overflow: hidden;
}
.ad a{
    display: block;
    position: relative;
}
.ad a img{
    width: 1620px;
    height: 90px;
    position: absolute;
    top:0;
    left: 50%;
    margin-left: -780px;
}
/*美丽人生开始*/
.beaut{
    width: 1230px;
    height: 470px;
    margin: 30px auto 0;
}
.beaut-top{
    width: 100%;
    height: 30px;
    color: #000;
}
.beaut-top .beaut-sekuai{
    width: 5px;
    height: 20px;
    background: #EA5F8D;
    float: left;
}
.beaut-top .beaut-name{
    font-size: 18px;
    line-height: 18px;
    margin-left: 10px;
    float: left;
}
.beaut-top .beaut-name2{
    font-size: 14px;
    margin-left: 10px;
    line-height: 24px;
    float: left;
}
.beaut-top .beaut-nav{
    line-height: 24px;
    font-size: 15px;
    float: right;
}
.beaut-top .beaut-nav li{
    padding: 0 12px;
    float: left;
}
.beaut-top .beaut-nav li a{
    padding: 1px 0;
}
.beaut-top .beaut-nav li a:hover{
    border-bottom: 1px solid #000;
}
.beaut-main{
    height: 440px;
}
.beaut-main .beaut-left{
    display: block;
    width: 246px;
    height: 440px;
    float: left;
}
.beaut-main .beaut-img{
    position: relative;
}
.beaut-main .beaut-left img{
    width: 246px;
    height: 330px;
    color: #000;
}
.beaut-main .beaut-left .beaut-lefta{
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    background: #F2D8E7;
    position: absolute;
    bottom:0;
    left: 0;
}
.beaut-main :hover .beaut-img{
    opacity: 0.8;
    color: #F74736;
}
.beaut-main .beaut-lvyou{
    height: 110px;
    background: #EA5F8D;
}
.beaut-main .beaut-lvyou p{
    text-align: center;
    color: #fff;
}
.beaut-main .beaut-lvyou p:first-child{
    padding-top: 20px;
    font-weight: 700;
    font-size: 22px;
}
.beaut-main .beaut-lvyou p:last-child{
    font-size: 18px;
}
.beaut-main .beaut-lvyou .beaut-logo{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background: url("../img/302.png") center no-repeat;
}
.beaut-main .beaut-list{
    height: 440px;
    float: left;
}
.beaut-list .beaut-middle{
    float: left;
    width: 735px;
    height: 440px;
}
.beaut-list .beaut-middle a{
    display: block;
    float: left;
    width: 245px;
    height: 220px;
    background: #fff;
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}
.beaut-list .beaut-middle .beaut-middle2{
    border-bottom: 0;
}
.beaut-list .beaut-right{
    width: 249px;
    height: 440px;
    float: left;
}
.beaut-list .beaut-right a{
    display: block;
    width: 249px;
    height: 147px;
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
}
.beaut-list .beaut-right .beaut-right1{
    border-bottom: 0;
}
.beaut-list a{
    position: relative;
}
.beaut-list a p:first-child{
    font-size: 18px;
    line-height: 24px;
    position: absolute;
    top:25px;
    left:25px;
    color: #000;
    z-index: 66;
}
.beaut-list a #text-zhuti{
    font-size: 14px;
    line-height: 18px;
    color: #EA5F8D;
    position: absolute;
    top:54px;
    left:25px;
    z-index: 66;
}
.beaut-list .beaut-middle a img{
    width: 154px;
    height: 154px;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.8s;
}
.beaut-list a:hover img{
    transform: translateX(-8px);
}
.beaut-list .beaut-right a img{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.8s;
}
/*潮电酷玩开始*/
#chaodian .beaut-sekuai{
    background: #0AA6E8;
}
#chaodian .beaut-main .beaut-lvyou{
    background: #0AA6E8;
}
#chaodian .beaut-list .beaut-middlea{
    width: 490px;
    height: 220px;
}
#chaodian .beaut-list .beaut-middlea p:nth-child(1){
    position: absolute;
    top: 45px;
    left: 45px;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    height: 24px;
    width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.beaut-list .beaut-middlea p:nth-child(2){
    font-size: 18px;
    line-height: 24px;
    color: #000;
    position: absolute;
    left: 45px;
    top: 79px;
}
.beaut-list .beaut-middlea p:nth-child(3){
    font-size: 14px;
    line-height: 18px;
    color: #0AA6E8;
    position: absolute;
    left: 45px;
    top: 105px;
    z-index: 66;
}
.beaut-list .beaut-middlea img{
    width: 195px;
    height: 195px;
}
#chaodian .beaut-list a #text-zhuti{
    color: #0AA6E8;
}
#chaodian .beaut-list .beaut-right a{
    width: 245px;
    height: 220px;
}
#chaodian .beaut-list .beaut-right a img{
    width: 154px;
    height: 154px;
}
/*居家生活开始*/
#jujia .beaut-sekuai{
    background: #64C333;
}
#jujia .beaut-main .beaut-lvyou{
    background: #64C333;
}
#jujia .beaut-list a #text-zhuti{
    color: #64C333;
}
/*打造爱巢开始*/
#aichao .beaut-sekuai{
    background: #F15453;
}
#aichao .beaut-main .beaut-lvyou{
    background: #F15453;
}
#aichao .beaut-list a #text-zhuti{
    color: #F15453;
}
#aichao .beaut-list .beaut-right a{
    width: 245px;
    height: 110px;
}
#aichao .beaut-list .beaut-right a img{
    width: 109px;
    height: 109px;
}
/*户外出行开始*/
#huwai .beaut-sekuai{
    background: #19C8A9;
}
#huwai .beaut-main .beaut-lvyou{
    background: #19C8A9;
}
#huwai .beaut-list a #text-zhuti{
    color: #19C8A9;
}
/*亲子时光开始*/
#qinzi .beaut-sekuai{
    background: #F7A945;
}
#qinzi .beaut-main .beaut-lvyou{
    background: #F7A945;
}
#qinzi .beaut-list a #text-zhuti{
    color: #F7A945;
}
/*猜你喜欢开始*/
.youlike{
    width: 1230px;
    overflow: hidden;
    margin-top: 30px;
}
.youlike h2{
    width: 1230px;
    height: 43px;
    text-align: center;
}
.youlike h2 i{
    color: #FF003B;
    font-size: 22px;
}
.youlike h2 span{
    color: #666;
    font-size: 18px;
    position: relative;
    font-weight: 100;
}
.youlike h2 span:before{
    content: "";
    width: 30px;
    height: 1px;
    background-color: #979797;
    position: absolute;
    top:12px;
    left: -35px;
}
.youlike h2 span:after{
    content: "";
    width: 30px;
    height: 1px;
    background-color: #979797;
    position: absolute;
    top:12px;
    right: -35px;
}
.youlike .youlike-list{
    width: 1230px;
    height: auto;
}
.youlike .youlike-list ul li{
    width: 235px;
    height: 326px;
    float: left;
    background: #fff;
    margin-right: 12px;
    margin-bottom: 7px;
    overflow: hidden;
    cursor: pointer;
}
.youlike .youlike-list ul .youlike5{
    margin-right: 0;
}
.youlike-list li img{
    width: 235px;
    height: 235px;
    transition: all 1s;
}
.youlike-list li .youlike-text1{
    padding: 10px 15px 0 15px;
    font-size: 13px;
    line-height: 18px;
    color: #666;
}
.youlike-list li .youlike-text2{
    padding: 2px 15px 0 15px;
    font-size: 16px;
    line-height: 32px;
    color: #ff0036;
}
.youlike-list li:hover{
    border: 1px solid #ff0036;
}
.youlike-list li:hover img{
    opacity: 0.8;
}
/*最后的logo开始*/
.endlogo{
    width: 1230px;
    height: 55px;
    background: url("../img/endlogo.png") center no-repeat;
    background-size: 80px 45px;
    margin-bottom: 5px;
}
/*底部开始*/
footer{
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #D1D7DC;
    background: #fff;
}
.foot-pic{
    width: 1190px;
    height: 110px;
    margin: 25px auto;
    background: url("../img/foot1.jpg");
}
.foot-list{
    width: 1190px;
    height: 213px;
    padding-top: 22px;
    margin: 0 auto;
    border-top: 1px solid #ededed;
    background: url("../img/footmao.jpg") 45px bottom no-repeat;
}
.foot-list dl{
    width: 238px;
    padding-left: 52px;
    float: left;
}
.foot-list dl dt{
    color: #646464;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}
.foot-list dl dd a{
    line-height: 20px;
    color: #8b8b8b;
    font-size: 10px;
    display: block;
    cursor: pointer;
}
.foot-list dl dd img{
    width: 105px;
    height: 105px;
}
.footer{
    width: 100%;
    height: 202px;
    border-top: 2px solid #FF0036;
    background: #000;
}
.footer-one{
    width: 1190px;
    margin: 0 auto;
    padding: 5px 0;
}
.footer-one a{
    color: #fff;
    line-height: 25px;
    margin-right: 3px;
    font-size: 12px;
}
.footer-two{
    width: 1190px;
    margin: 0 auto;
    padding: 5px 0;
    color: #fff;
}
.footer-two a{
    color: #fff;
    line-height: 25px;
    font-size: 12px;
    padding-right: 3px;
}
.footer-two span{
    font-size: 12px;
}
.footer-three{
    width: 1190px;
    margin: 0 auto;
    color: #a4a4a4;
    line-height: 20px;
    font-size: 12px;
}
.footer-three a{
    color: #a4a4a4;
    font-size: 12px;
}
.footer-three img{
    display: inline-block;
    width: 20px;
    height: 20px;
}
.footer-three .footertext1{
    margin-left: 70px;
}
.footer-four{
    width: 1190px;
    height: 45px;
    margin: 0 auto;
    padding-top: 10px;
}
.footer-four .footer4pic{
    width: 73px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
}
.footer-four .footer5pic{
    width: 80px;
    height: 30px;
    display: inline-block;
    margin-left: 9px;
    cursor: pointer;
}
/*浮层开始*/
.fuceng-left{
    width: 36px;
    height: 295px;
    position: fixed;
    left:50%;
    margin-left: -673px;
    bottom: 50px;
    z-index: 9999;
}
.fuceng-left ul{
    width: 36px;
    height: 295px;
    transform: scale(0);
    transform-origin:0 295px;
    transition: all 0.4s;
}
.fuceng-left ul li{
    width: 36px;
    height: 36px;
    margin-bottom: 1px;
    text-align: center;
    line-height: 18px;
    background: #626262;
}
.fuceng-left ul li div{
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fuceng-left ul li:nth-child(1){
    background: #FF0036;
    line-height: 36px;
}
.fuceng-left ul li:last-child{
    background: #ACACAC;
}
.fuceng-left ul li:nth-child(2):hover{
    background: #EA5F8D;
}
.fuceng-left ul li:nth-child(3):hover{
    background: #0AA6E8;
}
.fuceng-left ul li:nth-child(4):hover{
    background: #64C333;
}
.fuceng-left ul li:nth-child(5):hover{
    background: #F15453;
}
.fuceng-left ul li:nth-child(6):hover{
    background: #19C8A9;
}
.fuceng-left ul li:nth-child(7):hover{
    background: #F7A945;
}
.fuceng-left ul li:nth-child(8):hover{
    background: #000;
}
/*右浮层*/
.fuceng-right{
    width: 35px;
    height: 100%;
    background: #000;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}
.fuR-logo{
    width: 35px;
    height: 35px;
    margin-top: 90px;
    margin-bottom: 5px;
}
.fuR-logo a{
    display: block;
}
.fuR-logo a img{
    width: 35px;
    height: 35px;
}
.fuR-gouwuche{
    width: 35px;
    height: 100px;
    color: #fff;
    text-align: center;
    padding-top: 15px;
    border-top:1px solid #444;
    border-bottom:1px solid #444;
}
.fuR-gouwuche a{
    display: block;
}
.fuR-gouwuche a i{
    color: #fff;
    font-size: 20px;
}
.fuR-gouwuche a span{
    display: block;
    font-size: 10px;
    width: 35px;
    color: #fff;
}
.fuR-gouwuche:hover{
    background: #FF0036;
}
.fuR-money{
    width: 35px;
    height: 35px;
    margin-top: 5px;
}
.fuR-money a{
    display: block;
}
.fuR-money img{
    width: 35px;
    height: 35px;
}
.fuR-di{
    margin-top: 94px;
}

.fuR-erweima{
    position: relative;
}
.fuR-erweima .futip-erweima{
    position: absolute;
    top: -161px;
    left: -154px;
    width: 155px;
    height: 207px;
    background: url("../img/erweimaBox.png") no-repeat;
    background-size: 154px 207px;
}
.fuR-erweima .futip-erweima .futip-erweima-top{
    width: 100px;
    height: 100px;
    background: url("../img/erweimabottom.jpg") no-repeat;
    background-size: 100px 100px;
    margin: 45px 0 0 27px;
}
.fuR-erweima .futip-erweima .futip-erweima-bottom{
    height: 45px;
    margin:0 auto;
    text-align: right;
    padding-left: 10px;
    background: url("../img/erweimaText.png") center no-repeat;
    background-size: 135px 45px;
}
.fuR-erweima .futip-erweima .futip-erweima-jiao{
    width: 10px;
    height: 10px;
    background: #FF0036;
    position: absolute;
    right: -3px;
    top: 176px;
    transform: rotate(45deg);
}
.fuR-erweima:hover{
    background: #FF0036;
}



.fuceng-right .fuR-btn{
    display: none;
}
.fuceng-right .fuitems{
    position: relative;
}
.fuceng-right .futips{
    width: 100px;
    height: 35px;
    background: #333;
    color: #fff;
    line-height: 35px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top:0;
    left: -150px;
    opacity: 0;
    cursor: pointer;
}
.futips:after{
    content: "";
    width: 6px;
    height: 6px;
    background:#333;
    position: absolute;
    right: -3px;
    top: 14px;
    transform: rotate(45deg);
}
@keyframes flyIn{
    0%{
        opacity: 0;
        left: -180px;
    }
    100%{
        opacity: 1;
        left: -100px;
    }
}
.flyIn{
    animation:flyIn 1s forwards;
}
@keyframes flyOut{
    0%{
        opacity: 1;
        left: -100px;
    }
    100%{
        opacity: 0;
        left: -180px;
    }
}
.flyOut{
    animation:flyOut 1s;
}


body{
    transition: all 1s;
}
/*触发出现的搜索开始*/
.topbar{
    width: 100%;
    height: 50px;
    background: #E32C32;
    position: fixed;
    left: 0;
    top:-50px;
    transition: all 0.5s;
    z-index: 999;
}
.topbar .topbar-inner{
    width: 1260px;
    padding-right: 30px;
    height: 50px;
    margin: 0 auto;
    padding-top: 12px;
}
.topbar .topbar-inner .topbar-pic{
    width: 160px;
    height: 30px;
    float: left;
}
.topbar .topbar-inner img{
    width: 124px;
    height: 20px;
}
.topbar .topbar-search{
    width: 740px;
    height: 38px;
    margin: 0 auto;
}
.topbar .topbar-search .topbar-sousuo1{
    width: 645px;
    height: 30px;
    font-size: 12px;
    color: #666;
    padding-left: 8px;
    border: 0;
    float: left;
}
.topbar .topbar-search .topbar-sousuo2{
    width: 90px;
    height: 30px;
    font-size: 16px;
    background: #FF0036;
    color: #fff;
    letter-spacing: 4px;
    cursor: pointer;
    border: 0;
    float: left;
}






